version: "3.9"

services:
  mongodb:
    image: mongo:7
    restart: always
    env_file: .env.production
    volumes:
      - mongo_data:/data/db
      - ./backends/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks: [internal]

  backend:
    build: ./backends
    restart: always
    env_file: .env.production
    depends_on: [mongodb]
    networks: [internal]

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
    restart: always
    networks: [internal]

  migrations:
    build:
      context: ./backends
      dockerfile: migrations/migrations.Dockerfile
    env_file:
      - .env.production
    depends_on:
      - mongodb
    restart: "no"

volumes:
  mongo_data:

networks:
  internal:
    driver: bridge
